<!DOCTYPE html>
<html>

<head>
    <meta charset='utf-8'>
    <meta http-equiv='X-UA-Compatible' content='IE=edge'>
    <title>demo01
    </title>
    <meta name='viewport' content='width=device-width, initial-scale=1'>
    <!-- <link rel='stylesheet' type='text/css' media='screen' href='main.css'> -->
    <!-- <script src='main.js'></script> -->
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
</head>

<body>
    <div id="app">
        {{message}}
    </div>
    <div id="app-2">
        <span :title='message'> 悬停信息！</span>
    </div>
    <div id="app-3">
        <p v-if="seen">现在你看到我了</p>
    </div>
    <div id="app-4">
        <ol>
            <li v-for="todo in todos">
                {{todo.text}}
            </li>
        </ol>
    </div>
    <div id="app-5">
        <p>{{message}}</p>
        <button v-on:click="reverseMessage($event)">反转消息</button>
    </div>	
    <div id="app-6">
        <p>{{message}}</p>
        <input v-model="message">
    </div>
</body>
<script type="text/javascript">
    var app = new Vue({
        el: '#app',
        data: {
            message: 'Hello Vue!!'
        }
    })
    var app2 = new Vue({
        el: '#app-2',
        data: {
            message: '页面加载于' + new Date().toLocaleDateString()

        }
    })
    var app3 = new Vue({
        el: '#app-3',
        data: {
            seen: true

        }
    })
    var todos = [
        { text: 'Apple' },
        { text: 'Huawei' },
        { text: 'Xiaomi' },
    ];
    var app4 = new Vue({
        el: '#app-4',
        data: {
            todos: todos
        }
    })
    var app5 = new Vue({
        el: '#app-5',
        data: {
            message: "hello vue.js!"
        },
        methods: {
            reverseMessage: function (e) {
                this.message = this.message.split("").reverse().join('')
				console.log(e)
            }
        },
    })
    var app6 = new Vue({
        el: "#app-6",
        data: {
            message: "Hi Vue!"
        },
    })
	app6.$watch('message',function(pre,next){
		if(pre == null||pre.length<=0)
			app6.message = ' '
		// else
		// 	app6.message = app6.message.substring(5);
		console.log(pre,next)
	})
</script>

</html>